#txtchild {
    text-align: center;
    width: 200px;
    vertical-align: middle;
}

#imgchild {
    content: url("One_Ring_Blender_Render.png");
    width: 200px;
    object-fit: contain;
    transform-origin: 50% 50%;
}

.parentDiv {
    border: 5px solid #FF0000;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}