.myHeader {
    background-color: #FF0000;
    height: 30%;
}

body {
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.menu {
    width: 10%;
    margin: 0;
    padding: 0;
    background-color: green;
    flex-direction: column;
    float: left;
    height: 60%;
    list-style-type: none;
}

.menu li {
    background-color: yellow;
    border: 1px solid green;
}

body {
    background-color: green;

}

article{
    height: 60%;
}

body::after {
    content: '';
    display: block;
    height: 50px;
    width: 90%;
}

footer {
    background-color: pink;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}